<%= form_for(@over_achievement) do |f| %>
  <% if @over_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@over_achievement.errors.count, "error") %> prohibited this over_achievement from being saved:</h2>

      <ul>
      <% @over_achievement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
