
<table>
	<tr>
		<td>태그</td>
		<td>점수</td>
	</tr>
	<tr>
		<td><%= @tag %></td>
		<td>
			<% if @tag_data.over_all_hero %>
				<%= @tag_data.over_all_hero.Score %>
			<% else %>
				데이터 획득 실패
			<% end %>
		</td>
	</tr>
</table>
	

