
<div style="padding: 10px;">
<table>
	<tr>
		<td>태그</td>
		<td>점수</td>
	</tr>
	<tr>
		<td><%= @tag_data.tag %></td>
		<td>
			<% if @tag_data.over_all_hero %>
				<%= @tag_data.over_all_hero.Score %>
			<% else %>
				데이터 획득 실패
			<% end %>
		</td>
	</tr>
</table>
<% if @status==404 %>
<div>
	서버 터졌음.
</div>
<% end %>
</div>

