<!DOCTYPE html>
<html>
<head>
  <title>OverRanking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="container-fluid">
	<div id="top_bar" class="row">
    	<div class="container">
    		<nav class="navbar navbar-default">
         		<div class="navbar-header">
         			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         				<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="#"><img src="/images/logo.png"></a>
			    </div>
			    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
			    	<ul class="nav navbar-nav">
				        <li class="active"><a href="#">홈</a></li>
				        <li><a href="#">1번 메뉴</a></li>
				        <li><a href="#">2번 메뉴</a></li> 
				        <li><a href="#">3번 메뉴</a></li> 
					</ul>
				    <div class="nav navbar-nav navbar-right">
						<form action="/over_tags/new" accept-charset="UTF-8" method="get" class="navbar-form navbar-left" role="search" >
							<div class="form-group">
						    	<input type="text" name="tag" id="tag" class="form-control" placeholder="배틀태그#1234">
							 </div>
							 <input type="submit" name="commit" value="확인" class="btn btn-default">
						</form>
				  	</div>
			    </div>
			    	
			    <div class="nav navbar-nav navbar-right mobile-battletag">
			    	<form action="/over_tags/new" accept-charset="UTF-8" method="get"  class="navbar-form navbar-left" role="search">
			    		<div class="form-group">
						  	<input type="text" name="tag" id="tag" class="form-control" placeholder="배틀태그#1234">
						  	<input type="submit" name="commit" value="확인" class="btn btn-default custom_input">
	                   	</div>
					</form>
				</div>
			</nav>
    	</div>
  	</div>
	<%= yield %>
</div>

</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
	#middle_contents_detail > .container{
		background-color: #FFF;
	}
</style>
